<?xml version="1.0" ?>
<launch>

  <arg name="model" default="$(find urdf)/kidsize_model/robocup_robot/robots/robocup_fake_link.xacro" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find fira_gz)/launch/rviz/robocup.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <remap from="/joint_states" to="/robot1/joint_states" />
    <!--remap from="/tf" to="/robot1/tf" /-->
  </node>

  <node name="test_fake_frame" pkg="test_fake_frame" type="test_fake_frame"/>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/joint_states" to="/robot1/joint_states" />
  </node-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen" >
    <!--remap from="/tf" to="/robot1/tf" /-->
  </node>

</launch>


